services:
  user-db:
    image: postgres:16-alpine
    container_name: user-db
    environment:
      POSTGRES_DB: user_service
      POSTGRES_USER: user_service
      POSTGRES_PASSWORD: change-me
    ports:
      - "5432:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data
    networks:
      - user-net

  user-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-service
    depends_on:
      - user-db
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    networks:
      - user-net
    # Add DNS settings
    dns:
      - 8.8.8.8
      - 8.8.4.4
    # Allow access to host network
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  user_db_data:

networks:
  user-net:
    driver: bridge