---
name: Run Tests

on:
  push:
    branches:
      - '**'  # Run on all branches
  pull_request:
    branches:
      - main


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - project-management-service
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Run tests for ${{ matrix.service }}
        working-directory: ./${{ matrix.service }}
        run: mvn clean test
      
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.service }}
          path: ${{ matrix.service }}/target/surefire-reports/